{% if page.meta.comments %}
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <!-- Giscus snippet -->
    <script src="https://giscus.app/client.js"
            data-repo="ioneov/lifeINIT"
            data-repo-id="R_kgDOP7CZIQ"
            data-category="Comments"
            data-category-id="DIC_kwDOP7CZIc4CwMpr"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="1"
            data-input-position="bottom"
            data-theme="noborder_light"
            data-lang="ru"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  <script>
    const g = document.querySelector('script[src*="giscus"]');
    const setTheme = () => {
      const p = __md_get("__palette");
      const theme = p && p.color && p.color.scheme === "slate" ? "transparent_dark" : "light";
      g.setAttribute("data-theme", theme);
      const f = document.querySelector(".giscus-frame");
      if (f && f.contentWindow) f.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, "https://giscus.app");
    };
    document.addEventListener("DOMContentLoaded", () => {
      setTheme();
      const ref = document.querySelector("[data-md-component=palette]");
      if (ref) ref.addEventListener("change", setTheme);
    });
  </script>
{% endif %}
